<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    ></script>

    <!-- Latest compiled JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    ></script>
  </head>
  <body>
    <a href="/product/post" class="btn btn-primary">Thêm sản phẩm</a>
    <div class="container-fluid">
      <h3 class="text-center">Danh sách quản lý người dùng</h3>
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>STT</th>
                <th>Email</th>
                <th>Password</th>
                <th>Avatar</th>
                <th>Action</th>
                <th>Phân quyền</th>
              </tr>
            </thead>
            <tbody>
              {{#each users}}
                <tr>
                  <td>{{@index}}</td>
                  <td>{{this.email}}</td>
                  <td>{{this.password}}</td>
                  <td>
                    <img
                      style="height: 100px; width: 100px;"
                      src="https://via.placeholder.com/150"
                      alt="Avatar"
                      class="img-thumbnail"
                    />
                  </td>
                  <td>
                    <a
                      href="/user/delete/{{_id}}"
                      class="btn btn-primary"
                    >delete</a>
                    <a
                      href="/user/{{_id}}/edit"
                      class="btn btn-primary"
                    >edit</a>
                  </td>
                  <td>
                    <a href="/user/admin/{{_id}}" class="btn btn-primary">xác
                      nhận</a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="container-fluid">
      <h3 class="text-center">Danh sách quản lý sản phẩm</h3>
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>STT</th>
                <th>name</th>
                <th>price</th>
                <th>color</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
                <tr>
                  <td>{{@index}}</td>
                  <td>{{this.name}}</td>
                  <td>{{this.price}}</td>
                  <td>
                    {{this.color}}
                  </td>
                  <td>
                    <a
                      href="/product/delete/{{_id}}"
                      class="btn btn-primary"
                    >delete</a>
                    <a
                      href="/product/{{_id}}/edit"
                      class="btn btn-primary"
                    >edit</a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </body>
</html>